
body, h1, h2, h3, h4, h5, h6, p, nav, ul, figure, a, button { margin: 0px; padding: 0px; }
figure { line-height: 0px !important; }
a, button { text-decoration: none !important; cursor: pointer !important; }

[data-ajax-loader] {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

[data-ajax-loader] > div.loader {
    width: 2em;
    height: 2em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: inline-block;
    margin: auto;
    vertical-align: middle;
    pointer-events: none;
    border: 1em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    color: #e0e0e0;
    -webkit-animation: 1s loader linear infinite;
            animation: 1s loader linear infinite;
}

[data-ajax-loader] > div.loader:before {
    width: inherit;
    height: inherit;
    top: -1em;
    left: -1em;
    position: absolute;
    display: block;
    content: '';
    border: 1em solid currentcolor;
    border-radius: 50%;
    opacity: .5;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/*  */

header.main_header {
    width: 100%;
    height: 100px;
    position: fixed;
    transition: 400ms;
    z-index: 99;
}

header.main_header.down {
    height: 60px;
    background-color: #6ab2e3;
}

header.main_header::after {
    content: '';
    display: block;
    clear: both;
}

header.main_header > figure {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 40px;
    box-sizing: border-box;
}

header.main_header.down > figure {
    padding: 10px 0px 10px 40px;
}

header.main_header > figure > img {
    width: auto;
    height: 100%;
}

header.main_header > nav,
header.main_header > nav > ul {
    width: auto;
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    box-sizing: border-box;
}

header.main_header > nav > ul > li,
header.main_header > nav > ul > li > a {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

header.main_header > nav > ul > li {
    margin-left: 20px;
    list-style: none;
}

header.main_header > nav > ul > li > a > img {
    width: auto;
    height: 15px;
}

header.main_header > a[data-action="open_mobile_menu"] {
    display: none;
}

@media (max-width: 768px) {

    header.main_header > nav {
        display: none;
    }

    header.main_header > a[data-action="open_mobile_menu"] {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #fff;
    }

    header.main_header.down > a[data-action="open_mobile_menu"] {
        width: auto;
        height: 60px;
        padding: 0px 40px;
    }
}

/*  */

header.mobile_header {
    display: none;
}

@media (max-width: 768px) {

    header.mobile_header {
        width: 300px;
        height: 100vh;
        position: fixed;
        right: -300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #6ab2e3;
        z-index: 99;
        transition: 400ms;
    }

    header.mobile_header.open {
        right: 0px;
    }

    header.mobile_header > a[data-action="close_mobile_menu"] {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #fff;
    }

    header.mobile_header > nav,
    header.mobile_header > nav > ul,
    header.mobile_header > nav > ul > li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    header.mobile_header > nav > ul > li > a {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 400;
        white-space: nowrap;
        color: #fff;
    }

    header.mobile_header > nav > ul > li > a > strong {
        margin-left: 5px;
    }
}

/*  */

main.main_body h1,
main.main_body h2,
main.main_body h3,
main.main_body h4,
main.main_body h5,
main.main_body h6 {
    text-align: center;
    text-transform: uppercase;
    color: #212121;
}

main.main_body h1,
main.main_body h2 {
    font-size: 40px;
    font-weight: 600;
}

@media (max-width: 768px) {

    main.main_body h1,
    main.main_body h2 {
        font-size: 30px;
    }
}

main.main_body h1 > span,
main.main_body h2 > span {
    color: #6ab2e3;
}

main.main_body h3,
main.main_body h4 {
    font-size: 24px;
    font-weight: 400;
}

main.main_body h5,
main.main_body h6 {
    font-size: 18px;
    font-weight: 400;
}

main.main_body p,
main.main_body a {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #212121;
}

main.main_body a {
    display: inline-block;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #6ab2e3;
    color: #fff;
}

@media (max-width: 768px) {

    main.main_body a {
        display: block;
        width: 100%;
    }
}

main.main_body div.row {
    width: 100%;
    margin: 0px;
}

/*  */

main.main_body > section.home {
    width: 100%;
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {

    main.main_body > section.home {
        background-position: right;
    }
}

main.main_body > section.home::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

main.main_body > section.home h1,
main.main_body > section.home p {
    color: #fff;
}

/*  */

main.main_body > section.tests {
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

main.main_body > section.tests > div > div {
    background-color: rgb(106, 178, 227, 0.4);
}

main.main_body > section.tests > div > div > figure {
    width: 100%;
    height: 80px;
}

main.main_body > section.tests > div > div > figure > img {
    width: auto;
    height: 100%;
}

main.main_body > section.tests > figure,
main.main_body > section.tests > figure > img {
    width: 100%;
}

/*  */

main.main_body > section.your_company {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {

    main.main_body > section.your_company {
        background-position: left;
    }
}

/*  */

main.main_body > section.other_services {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main.main_body > section.other_services > div.circles {
    width: 70%;
    height: 4px;
    position: relative;
    border-radius: 4px;
    background-color: #6ab2e3;
}

main.main_body > section.other_services > div.circles > span {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -8px;
    display: block;
    border-radius: 50%;
    background-color: #6ab2e3;
}

main.main_body > section.other_services > div.circles > span.first {
    left: -10px;
}

main.main_body > section.other_services > div.circles > span.medium {
    left: calc(50% - 10px);
}

main.main_body > section.other_services > div.circles > span.last {
    right: -10px;
}

main.main_body > section.other_services figure {
    width: 100%;
    height: 200px;
}

main.main_body > section.other_services figure > img {
    width: auto;
    height: 100%;
}

main.main_body > section.other_services ul {
    width: 100%;
    font-size: 18px;
    font-weight: 400px;
    color: #212121;
}

/*  */

main.main_body > form.contact {
    width: 100%;
}

main.main_body > form.contact > a {
    border-radius: 40px;
    background-color: #ffeb3b;
}

main.main_body > form.contact > a.call {
    background-color: #ffeb3b;
    color: #212121;
}

main.main_body > form.contact > a.whatsapp {
    background-color: #009688;
    color: #fff;
}

main.main_body > form.contact > a > i {
    font-size: 40px;
}

main.main_body > form.contact > input,
main.main_body > form.contact > select,
main.main_body > form.contact > button {
    width: 100%;
    max-width: 600px;
    height: 60px;
    border: 0px;
    background-color: #eee;
    font-size: 16px;
    font-weight: 400;
    color: #212121;
}

/*  */

main.main_body > section.clients {
    width: 100%;
}

main.main_body > section.clients figure {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

@media (max-width: 768px) {

    main.main_body > section.clients figure {
        height: auto;
    }
}

main.main_body > section.clients figure.h > img {
    width: 100%;
}

main.main_body > section.clients figure.v > img {
    width: auto;
    height: 100%;
}

@media (max-width: 768px) {

    main.main_body > section.clients figure.h > img,
    main.main_body > section.clients figure.v > img {
        width: 100%;
        height: auto;
    }
}

/*  */

footer.main_footer {
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
}

footer.main_footer > p > i {
    color: #f44336;
}

/*  */

article.card > header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #004770
}

article.card > header > figure {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 100px;
}

article.card > header > figure > img {
    width: 100%;
}

article.card > main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    box-sizing: border-box;
}

article.card > main > h1 {
    font-size: 30px;
    font-weight: 600;
    color: #212121;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

article.card > main > p {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    padding: 0px 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: center;
}

article.card > main > div.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

article.card > main > div.buttons > a {
    width: calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #212121;
}

article.card > main > div.buttons > a > i {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6ab2e3;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

article.card > main > figure {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 50px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

article.card > main > figure > img {
    width: 100%;
}

article.card > main > #map {
    width: 100%;
    height: 100vh;
}
